<mat-tab-group>
  <mat-tab *ngFor="let month of periods" label="{{month.month + ' - ' + month.year}}" >

    <button mat-button (click)="openFinancialItemDialog()" >
      Novo
      <mat-icon>playlist_add</mat-icon>
    </button>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="billingDate">
        <mat-header-cell  *matHeaderCellDef>Dia do Ven/Pag</mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.billingDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell  *matHeaderCellDef> Descrição </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalValue">
        <mat-header-cell *matHeaderCellDef> Valor Total </mat-header-cell>:
        <mat-cell *matCellDef="let element"> {{element.totalValue | currency:'BRL'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalPaid">
        <mat-header-cell  *matHeaderCellDef> Valor Pago </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.totalPaid | currency:'BRL'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell  *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell  *matCellDef="let element"> <strong>{{element.status | expenseStatus}}</strong> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell  *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell  *matCellDef="let element">
          <button (click)="openPaymentActionDialog(element.id)" mat-icon-button [disabled]="element.status === 'PAGO'" >
            <mat-icon>payments</mat-icon>
          </button>
          <button (click)="openAlertDialog(element.id)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-tab>
</mat-tab-group>

<div id="footer">
  <div fxFlex class="container-footer">
    <div class="content-footer" >Previsão de gastos: {{totals.spendingForecast | currency:'BRL'}}</div>
  </div>
  <div fxFlex class="container-footer">
    <div class="content-footer" >Total Pago: {{totals.totalPaid | currency:'BRL'}}</div>
  </div>
  <div fxFlex class="container-footer">
    <div class="content-footer" >Total de Receitas: {{totals.totalIncome | currency:'BRL'}}</div>
  </div>
  <div fxFlex class="container-footer">
    <div class="content-footer" >Disponivel: {{totals.totalAvailable | currency:'BRL'}}</div>
  </div>
  <div fxFlex class="container-footer">
    <div class="content-footer" >Atual em contas: {{totals.currentInAccounts | currency:'BRL'}}</div>
  </div>
</div>
