/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #027373;
  color: #f28d35;
  z-index: 1;
}

